<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="namespaces">
        <div class="namespace" ns="/Java">
            <img src="/assets/Java-logo.jpeg">
        </div>

        <div class="namespace" ns="/Next">
            <img src="/assets/Next-logo.webp">
        </div>

        <div class="namespace" ns="/Android">
            <img src="/assets/Android-logo.png">
        </div>

    </div>
</body>

</html>