<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="rooms">
        <div class="main-rooms">
            <div
                class="pointer bg-blue-400 text-white px-1 shadow-lg hover:bg-blue-600 transition duration-300 rounded mt-10">
                Chat Rooms
            </div>
            <ul class="room-list">
                <li class="font-mono border mt-2 p-1 ">
                    Main Room
                </li>
                <li class="font-mono border mt-2 p-1">Meeting Room</li>
            </ul>
        </div>
        <div class="dm">
            <div
                class="pointer bg-blue-400 text-white px-1 shadow-lg hover:bg-blue-600 transition duration-300 rounded mt-10 ">
                Friends
            </div>
            <ul class="room-list">
                <li class="font-mono border mt-2 p-1">
                    Main Room
                </li>
                <li class="font-mono border mt-2 p-1">Meeting Room</li>
            </ul>
        </div>
    </div>
</body>

</html>