<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Tailwind CDN-->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container text-center">
        <form class="row" id="message-form">
            <div class="col-6">
                <input id="user-message" type="text" placeholder="Enter your message" />
            </div>
            <div class="col-2">
                <input class="btn btn-primary" type="submit" value="Send!" />
            </div>
        </form>

        <ul id="messages">
            <!-- THIS WILL BE POPULATED BY JAVASCRIPT! -->
        </ul>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <!-- Link to Bootstrap JS and dependencies -->
    <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="script.js"></script>
</body>

</html>